.header {
    background-color: var(--color-header-bg);
    position: relative;
    max-width: 80vw;
    margin-left: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1;

    &__logo {
        font-size: var(--font-size-xl);
    }
    ul {
        list-style: none;
        
        li {
            padding: var(--space-xs) var(--space-m);
            transition: background 0.3s ease-in-out;

            &:hover {
                background-color: var(--color-primary-rotate);
            }
        }
    }
    .mega-menu {
        position: absolute;
        left: 0;
        width: 80vw;
        top: 80px;
        // opacity: 0;
        // visibility: hidden;
        transition: all 0.3s ease-in-out;

        .content {
            background-color: var(--color-header-bg);
            padding: var(--space-m);
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: var(--space-m);
            width: 100%;
            justify-content: space-between;

            .col {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                line-height: var(--space-xxxl);

                h2 {
                    color: var(--color-primary-rotate);
                    font-size: var(--font-size-xxl);
                    line-height: var(--space-xxxl);
                    font-weight: bold;
                }

                p {
                    line-height: var(--line-height-headers);
                }

                .img-wrapper {
                    display: block;
                    position: relative;
                    width: 100%;
                    height: 20vh;
                    overflow: hidden;

                    .img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    img {
                        width: 100%;
                    }
                }

                .mega-links {
                    border-left: 1px solid var(--color-text-header);

                    li, a {
                        padding: 0 1rem;
                    }
                }
            }
        }
    }
    &__menu {
        display: flex;
        align-items: center;
        &__item {
            display: flex;
            justify-content: space-between;
            width: 100%;

            &:hover {
                background: #000;

               li{
                 .mega-menu {
                    // top: 50px;
                    opacity: 0 !important;
                    visibility: hidden;
                }
            }
            }
        }
        .dropdown {
            position: relative;
            
            &:hover {
                .dropdown-menu {
                    top: 34px;
                    opacity: 1;
                    visibility: visible;
                }
            }
            .menu-right {
                top: 0;
                left: 100%;
            }
        }
        .dropdown-menu, .menu-right {
            position: absolute;
            background-color: var(--color-header-bg);
            width: 100%;
            top: 50%;
            left: 0;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
        }
        .dropdown-right {
            &:hover {
                .menu-right {
                    top: 34px;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    a {
        text-decoration: none;
        color: var(--color-white);
    }
}
