.header {
    background-color: var(--color-header-bg);
    position: relative;
    max-width: 80vw;
    margin-left: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1;

    &__logo {
        font-size: var(--font-size-xl);
    }
    ul {
        list-style: none;
        
        li {
            padding: var(--space-xs) var(--space-m);
            transition: background 0.3s ease-in-out;

            &:hover {
                background-color: var(--color-primary);
            }
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        &__item {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        .dropdown {
            position: relative;
            
            &:hover {
                .dropdown-menu {
                    top: 34px;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        .dropdown-menu {
            position: absolute;
            background-color: var(--color-header-bg);
            width: 100%;
            top: 50%;
            left: 0;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
        }
    }
    a {
        text-decoration: none;
        color: var(--color-white);
    }
}
