.box {
    position: relative;
    width: var(--form-width);
    height: var(--form-height);
    background-color: var(--color-header-bg);

    &::before {
        content: "";
        position: absolute;
        top: -50;
        left: -50;
        width: var(--form-width);
        height: var(--form-height);
        background: linear-gradient(0deg, transparent, transparent, var(--color-text-section));
        z-index: -1;
        transform: rotate(45deg);
        transform-origin: 0 0;
        animation: animate 6s linear infinite;
    }
}

@keyframes animate {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(405deg);
    }
}