<header class="header">
    <%= link_to 'LOGO', root_path, class: "header__logo" %>
    <% items = ['Home', 'Dropdown Menu', 'Mega menu', 'Blog', 'About' ] %>
    <nav>
        <ul class="header__menu">
            <% items.each do |item| %>
                <li><%= link_to item, '#', class: "header__menu__item" %></li>
            <% end %>
        </ul>
    </nav>
</header>